h1 {
    font-size: 45px;
    /* padding-left: 10px; */
}

h2 {
    font-size: 25px;
}

body {
    font-family: 'DM Sans';
    padding-left: 10px;
}

a {
    font-size: 20px;
}

nav a {
    padding: 0px 10px;
}

nav {
    margin-left: -10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

#books-header {
    background-color: #f6dfa6;
}

#users-header {
    background-color: #9bcd9c;
}

#orders-header {
    background-color: #96c0da;
}

#reviews-header {
    background-color: #dbbbe1;
}

#orders-has-books-header {
    background-color: #e1bbbf;
}

form {
    border: 1px solid black;
    padding: 10px;
    width: 800px;
}

label {
    font-size: 18px;
}

input, select {
    height: 1.6em;
    width: 300px;
}