h1 {
    font-size: 40px;
    /* padding-left: 10px; */
}

h2 {
    font-size: 20px;
}

body {
    font-family: 'DM Sans';
    padding-left: 10px;
}

a {
    font-size: 20px;
}

p a {
    padding: 0px 10px;
}

p {
    margin-left: -10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

.category {
    background-color: #87c488;
}