h1 {
    font-size: 45px;
    /* padding-left: 10px; */
}

h2 {
    font-size: 25px;
}

body {
    font-family: 'DM Sans';
    padding-left: 10px;
}

a {
    font-size: 20px;
}

p a {
    padding: 0px 10px;
}

p {
    margin-left: -10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

.category {
    background-color: #87c488;
}

form {
    border: 1px solid black;
    padding: 10px;
    width: 800px;
}

label {
    font-size: 18px;
}

input, select {
    height: 1.6em;
    width: 300px;
}