<!-- index.hbs -->
{{!-- <h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p> --}}

<header>
    <h1>HOMEPAGE</h1>
</header>
<ul>
    <li>
        <a href="books.hbs">Books</a>
    </li>
    <li>
        <a href="users.hbs">Users</a>
    </li>
    <li>
        <a href="orders.hbs">Orders</a>
    </li>
    <li>
        <a href="reviews.hbs">Reviews</a>
    </li>
    <li>
        <a href="orders_has_books.hbs">Orders has Books</a>
    </li>
</ul>
