{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Orders Has Books ID</th>
            <th>Order ID</th>
            <th>Book ID</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.ordersHasBooksID}}</td>
            <td>{{this.orderID}}</td>
            <td>{{this.bookID}}</td>
           
        </tr>
        {{/each}}
    </tbody>
</table>